* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 45px;
    font-weight: 500;
}

body {
    background-image: linear-gradient(206deg, rgba(72, 45, 45, 0.46) 0%, rgba(72, 45, 45, 0.46) 14.286%,rgba(102, 42, 45, 0.46) 14.286%, rgba(102, 42, 45, 0.46) 28.572%,rgba(131, 39, 44, 0.46) 28.572%, rgba(131, 39, 44, 0.46) 42.858%,rgba(161, 36, 44, 0.46) 42.858%, rgba(161, 36, 44, 0.46) 57.144%,rgba(191, 33, 43, 0.46) 57.144%, rgba(191, 33, 43, 0.46) 71.43%,rgba(220, 30, 43, 0.46) 71.43%, rgba(220, 30, 43, 0.46) 85.716%,rgba(250, 27, 42, 0.46) 85.716%, rgba(250, 27, 42, 0.46) 100.002%),linear-gradient(127deg, rgb(254, 36, 223) 0%, rgb(254, 36, 223) 14.286%,rgb(227, 44, 210) 14.286%, rgb(227, 44, 210) 28.572%,rgb(201, 52, 198) 28.572%, rgb(201, 52, 198) 42.858%,rgb(174, 60, 185) 42.858%, rgb(174, 60, 185) 57.144%,rgb(147, 67, 172) 57.144%, rgb(147, 67, 172) 71.43%,rgb(121, 75, 160) 71.43%, rgb(121, 75, 160) 85.716%,rgb(94, 83, 147) 85.716%, rgb(94, 83, 147) 100.002%);
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.role-rotating-text {
    font-weight: 600;
    font-size: 36px;
    width: 500px;
    padding-left: 20px ;
    margin-left: 200px;
    border-radius: 20px;
    background: #fff;
    color: #000;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.2);
}

.role-rotating-text .role-name {
    display: inline-flex;
    margin: 0;
    vertical-align: top;
}

.role-rotating-text .role-name .word {
    position: absolute;
    display: flex;
    opacity: 0;
}

.role-rotating-text .role-name .word .letter {
    transform-origin: center center 25px;
}

.role-rotating-text .role-name .word .letter.out {
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}

.role-rotating-text .role-name .word .letter.in {
    transition: 0.38s ease;
}

.role-rotating-text .role-name .word .letter.behind {
    transform: rotateX(-90deg);
}

.w-1 {
    color: #00ff0d;
}

.w-2 {
    color: #04c5ff;
}

.w-3 {
    color: #3498db;
}

.w-4 {
    color: #2ecc71;
}

.w-5 {
    color: #0f1ef1;
}